@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --black: #000000;
  --white: #ffffff;
  --background: #ffffff;
  --text: #171717;
  --text-muted: #64748b;
  --focus-color: #1663a0;
  /* shadow */
  --shadow-color: #0000005c;
  --shadow-color-hover: #0000007c;
  --shadow-around: 0 0 3px 0 var(--shadow-color, #0000005c);
  --shadow-around-hover: 0 0 3px 0 var(--shadow-color-hover, #0000007c);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text-primary: #ededed;
  }
} */

body {
  --header-height: 124px;
  --footer-height: 192px;

  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--focus-color);
}

#home {
  --header-height: 124px;

  scroll-margin-top: var(--header-height);
}
